@model PostModel
@{
    ViewData["Title"] = "Job Detail";
    Layout = "_CVHomeLayout";
}

<div class="container mt-5">
    <div class="post-title p-3" style="background-color: #c2c2c2">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12"><h2 class="text-success">@Model.Title</h2></div>
                    <div class="col-md-12"><a href="#" class="text-bold company-name">@Model.Company_Name</a></div>
                    <div class="col-md-12">@Model.ExactAddress</div>
                    <div class="col-md-12">Hạn nộp hồ sơ: @Model.Submit_Deadline</div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <button class="btn btn-success btn-recruitment" style="height: fit-content; margin: auto;" post-id="@Model.PostID">Ứng tuyển ngay</button>
            </div>
        </div>
    </div>
    <div class="post-content mt-3 p-3" style="background-color: #c2c2c2">
        <div class="row">
            <div class="col-md-12">
                <h2>Mô tả công việc</h2>
            </div>
            <div class="col-md-12 content-tab">
                @Model.Description
            </div>
            <div class="col-md-12">
                <h2>Vị trí công việc</h2>
            </div>
            <div class="col-md-12 content-tab">
                @Model.Position
            </div>
            <div class="col-md-12">
                <h2>Yêu cầu ứng viên</h2>
            </div>
            <div class="col-md-12 content-tab">
                @Model.Require
            </div>
            <div class="col-md-12">
                <h2>Quyền lợi được hưởng</h2>
            </div>
            <div class="col-md-12 content-tab">
                @Model.Benefit
            </div>
            <div class="col-md-12">
                <h2>Cách thức ứng tuyển</h2>
            </div>
            <div class="col-md-12 content-tab">
                Ứng viên nộp hồ sơ bằng cách bấm <strong class="text-success">&nbsp; Ứng tuyển ngay &nbsp;</strong> dưới đây
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <button class="btn btn-success btn-recruitment"  post-id="@Model.PostID">Ứng tuyển ngay</button>
            </div>
            <div class="col-md-12 content-tab d-flex justify-content-center mt-3">
                Hạn nộp hồ sơ : @Model.Submit_Deadline
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.btn-recruitment', (e) => {
        let el = e.target;
        let postid = $(el).attr('post-id');
        let companyname = $('.company-name').text();
        let data = {
            postid: postid,
            companyname: companyname
        }
        let token = get_cookie('jwt');
        $.ajax({
            type: "POST",
            url: "/api/usercontact/recruitment",
            contentType: "application/json",
            data: JSON.stringify(data),
            headers: {
                "Authorization": `Bearer ${token}`
            }
        })
        .done(rs => {
            if (rs.statusCode === 200) {
                alert('Ứng tuyển thành công');
            }
            if (rs.statusCode === 400) {
                alert('Bạn đã ứng tuyển công việc này');
            }
        })
        .fail(err => alert('Thất bại. Mời thử lại'));
    })
</script>